<h1>ROLL THE DICE!</h1>
<h2>Choose how many of each die to roll, and then press roll for your outcome!</h2>


  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">D4</span>
          <input type=text>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">D6</span>
          <input type=text>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">D8</span>
          <input type=text>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">D10</span>
          <input type=text>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">D12</span>
          <input type=text>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">D20</span>
          <input type=text>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">D100</span>
          <input type=text>
        </div>
      </div>
    </div>
  </div>

  <button>ROLL!</button>

  <div class="outcome">
        <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">OUTCOME</span>
          <input type=text>
        </div>
      </div>
    </div>
  </div>
  </div>