<div class='valign-wrapper row login-box'>
  <div class='col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4'>
    <form>
      <div class='card-content'>
        <span class='card-title'>Add Your Character</span>
        <div class='row'>
          <div class='input-field col s12'>
            <label for='name'>Name</label>
            <input type='text' id='character-name'>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-class'>
            <label for='class'>Class</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-level'>
            <label for='level'>Level</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-background'>
            <label for='background'>Background</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-player_name'>
            <label for='player_name'>Player_name</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-faction'>
            <label for='faction'>Faction</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-race'>
            <label for='race'>Race</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-alignment'>
            <label for='alignment'>Alignment</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-exp'>
            <label for='exp'>Exp</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-inspiration'>
            <label for='inspiration'>Inspiration</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-strength'>
            <label for='strength'>Strength</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-dexterity'>
            <label for='dexterity'>Dexterity</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-constitution'>
            <label for='constitution'>Constitution</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-intelligence'>
            <label for='intelligence'>Intelligence</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-wisdom'>
            <label for='wisdom'>Wisdom</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-charisma'>
            <label for='charisma'>Charisma</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-strength_st'>
            <label for='strength_st'>Strength_st</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-dexterity_st'>
            <label for='dexterity_st'>Dexterity_st</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-constitution_st'>
            <label for='constitution_st'>Constitution_st</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-intelligence_st'>
            <label for='intelligence_st'>Intelligence_st</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-wisdom_st'>
            <label for='wisdom_st'>Wisdom_st</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-charisma_st'>
            <label for='charisma_st'>Charisma_st</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-armor_class'>
            <label for='armor_class'>Armor_class</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-initiative'>
            <label for='initiative'>Inititative</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-speed'>
            <label for='speed'>Speed</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-current_hp'>
            <label for='current_hp'>Current_hp</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-temp_hp'>
            <label for='temp_hp'>Temp_hp</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-personality_traits'>
            <label for='personality_traits'>Personality_traits</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-ideals'>
            <label for='ideals'>Ideals</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-bonds'>
            <label for='bonds'>Bonds</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-flaws'>
            <label for='flaws'>Flaws</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-attacks_and_spellcasting'>
            <label for='attacks_and_spellcasting'>Attacks_and_spellcasting</label>
          </div>
          <div class='input-field col s12'>
            <input type='text'id='character-passive_wisdom'>
            <label for='passive_wisdom'>Passive_wisdom</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-equipment'>
            <label for='equipment'>Equipment</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-features_and_traits'>
            <label for='features_and_traits'>Features_and_traits</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-other_proficiencies_and_languages'>
            <label for='other_proficiences_and_languages'>Other_proficiencies_and_languages</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-age'>
            <label for='age'>Age</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-height'>
            <label for='height'>Height</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-weight'>
            <label for='weight'>Weight</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-eyes'>
            <label for='eyes'>Eyes</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-skin'>
            <label for='skin'>Skin</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-hair'>
            <label for='hair'>Hair</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-acrobatics'>
            <label for='acrobatics'>Acrobatics</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-animal_handling'>
            <label for='animal_handling'>Animal_handling</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-arcana'>
            <label for='arcana'>Arcana</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-athletics'>
            <label for='athletics'>Athletics</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-deception'>
            <label for='deception'>Deception</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-history'>
            <label for='history'>History</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-insight'>
            <label for='insight'>Insight</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-intimidation'>
            <label for='intimidation'>Intimidation</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-investigation'>
            <label for='investigation'>Investigation</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-medicine'>
            <label for='medicine'>Medicine</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-nature'>
            <label for='nature'>Nature</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-perception'>
            <label for='perception'>Perception</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-performance'>
            <label for='performance'>Performance</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-persuasion'>
            <label for='persuasion'>Persuasion</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-religion'>
            <label for='religion'>Religion</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-sleight_of_hand'>
            <label for='sleight_of_hand'>Sleight_of_hand</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-stealth'>
            <label for='stealth'>Stealth</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-survival'>
            <label for='survival'>Survival</label>
          </div>
        </div>
      </div>
      <div class='card-action right-align'>
       
        <input type='submit' class='btn green waves-effect waves-light' value='Create'>
      </div>
    </form>
  </div>
   <button id='create-button'> I'm a button </button>
</div>